name: Blog Posts

on:
  workflow_dispatch:
  # Run workflow automatically
  schedule:
    # Runs every hour, on the hour
    - cron: '20 * * * *'

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          # comma-separated list of RSS feed urls
          feed_list: "https://www.tjsky.net/?feedÔºùrss2"
